@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body{
    font-family: 'Lato',sans-serif;
    --webkit-font-smoothing:antialiased;
    color: $dark;
    height: 100%;
}

.static-txt
{
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dyanamic-txts
{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dyanamic-txts li
{
    list-style: none;
    color: $primary;
    font-size: 60px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 8s steps(4) infinite;

}
@keyframes slide
{
    100%
    {
        top: -360px;
    }
}
.dyanamic-txts li
{
    position: relative;

}
.dyanamic-txts li ::after
{
     content:"";
     position: absolute;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: $secondary;
     border-left: 3px solid $primary;
     animation: typing 2s steps(5) infinite;
}

@keyframes typing
{
    40%,
    60%
    {
        left: calc(100% + 30px);
    }
    100%
    {
        left: 0;
    }
}
nav li:last-child a
{
    background: $primary;
    &:hover
    {
        background: $primary-hover;
    }
}

nav li a {
    transition:$smooth;
    &:hover{
        color: $primary;
    }
}

section.hero
{
    background: $secondary;
}
.size
{
    background: $secondary;
}
.btn-prim
{
    background: $primary;
    transition: $smooth;
    &:hover
    {
        background:$primary-hover;
    }
}
.add-to-cart
{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background-color: $primary;
        border-color: $pure;
        color: $pure;

    }
    &:focus
    {
        outline: none;
    }
}


section.cart
{
    background: $secondary;

    .amount
    {
        color: $primary;
    }
}

section.login
{
    background: $secondary;
    // min-height: calc(100vh - 86px);
    a
    {
        color: $primary;
    }
}
section.register
{
    background: $secondary;
    // min-height: calc(100% - 86px);
}
.noty_theme__mint{
    border-radius:50px!important;
    padding-left:8px!important;
}
input[type=button],
input[type=submit] {
  background-color: $primary;
//   border: none;
//   color: #fff;
//   padding: 15px 30px;
//   text-decoration: none;
//   margin: 4px 2px;
//   cursor: pointer;
}

a.link
{
    color: $primary;
}


section.status
{
    background: $secondary;
    min-height: 700px

}
.status-box
{
    padding-top: 60px;
}

//dots of page singleorder.ejs
.status-box ul
{
    margin-left: 84px;
}
.status-box ul li span
{
    position: relative;
    padding-left:20px ;
}

.status-box ul li span:after
{
 content: '';
 position: absolute;
 left: -10px;
 top: 50%;
 background: $dark;
 width: 10px;
 height: 10px;
 border-radius:50% ;
 transform: translateY(-50%);

 box-shadow: 0 0 1px 10px $secondary;
}

//icons for single order page.ejs

.status-box ul li span:before
{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;

}

.status-box ul li:nth-child(1) span::before
{
    content: '\f46c';
   
}
.status-box ul li:nth-child(2) span::before
{
    content: '\f560';
   
}
.status-box ul li:nth-child(3) span::before
{
    content: '\f818';
   
}
.status-box ul li:nth-child(4) span::before
{
    content: '\f0d1';
   
}
.status-box ul li:nth-child(5) span::before
{
    content: '\f582';
   
}

//line single order ejs
.status-box ul li
{
    position: relative;
}

.status-box ul li:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

.status-box ul li:nth-child(5) span:after
{
    box-shadow: 0 20px 1px 20px $secondary ;
}


// for step-completed

.status-box ul li.step-completed:before
{
    background: $grey;
}

//dots ko grey kare

.status-box ul li.step-completed span:after
{
    background: $grey;
}

.status-box ul li.step-completed span
{
    color: $grey;
}


//current status

.status-box ul li.current-step span
{
    color: $primary;
}

.status-box ul li.current-step span:after
{
    background: $primary;
}