@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body{
    font-family: 'Lato',sans-serif;
    --webkit-font-smoothing:antialiased;
    color: $dark;
    height: 100%;
}

.static-txt
{
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dyanamic-txts
{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dyanamic-txts li
{
    list-style: none;
    color: $primary;
    font-size: 60px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 8s steps(4) infinite;

}
@keyframes slide
{
    100%
    {
        top: -360px;
    }
}
.dyanamic-txts li
{
    position: relative;

}
.dyanamic-txts li ::after
{
     content:"";
     position: absolute;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: $secondary;
     border-left: 3px solid $primary;
     animation: typing 2s steps(5) infinite;
}

@keyframes typing
{
    40%,
    60%
    {
        left: calc(100% + 30px);
    }
    100%
    {
        left: 0;
    }
}
nav li:last-child a
{
    background: $primary;
    &:hover
    {
        background: $primary-hover;
    }
}

nav li a {
    transition:$smooth;
    &:hover{
        color: $primary;
    }
}

section.hero
{
    background: $secondary;
}
.size
{
    background: $secondary;
}
.add-to-cart
{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background-color: $primary;
        border-color: $pure;
        color: $pure;

    }
    &:focus
    {
        outline: none;
    }
}
.btn-prim
{
    background: $primary;
    transition: $smooth;
    &:hover
    {
        background:$primary-hover;
    }
}

section.cart
{
    background: $secondary;

    .amount
    {
        color: $primary;
    }
}

section.login
{
    background: $secondary;
    min-height: calc(100vh - 86px);
    a
    {
        color: $primary;
    }
}
section.register
{
    background: $secondary;
    min-height: calc(100% - 86px);
}
.noty_theme__mint{
    border-radius:50px!important;
    padding-left:8px!important;
}

